body {
    width: 100vw;
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: $menu-width;
    height: 100%;
    padding: $paddings;
    background-color: $menu-bgc;
}

.wrapper {
    width: calc(100% - $menu-width);
    height: 100%;
    margin-left: $menu-width;
    padding: $paddings;
    background-color: $main-bgc;
    display: grid;
    grid-template: repeat(5, auto) / repeat(12, 1fr);
    grid-row-gap: 15px;
}

.wrapper *:not(:first-child) {
    padding: $paddings;
    background-color: $content-bgc;
}

.header {
    grid-area: 1 / 1 / 2 / 13;
}

.box {
    grid-area: 2 / 5/ 3 / 9;
}

.aside {
    grid-area: 3 / 1 / 6 / 3;
}

.article-left {
    grid-area: 3 / 4 / 5 / 8;
}

.article-right {
    grid-area: 3 / 9 / 5 / 13;
}

.footer {
    grid-area: 5 / 4 / 6 / 13;
}