// Fonts
$font-main: Verdana,
sans-serif;
$font-weight: 300;
$font-size: 16px;
$line-height: 1.2;

// Colors
$font-color: #5c5c5c;
$main-bgc: #ededed;
$menu-bgc: #dadada;
$content-bgc: #fff;

// Sizes
$menu-width: 20%;